{{ define "main" }}
{{ if .Content }}
<div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
  {{ .Content }}
</div>
{{ end }}
<h1>kako57</h1>

<h2>Introduction</h2>

<p>
Hello! I'm Dre. 
</p>

<p>
also known as:
<ul>
        <li>kako57 (github)
        <li>dre (real life)
        <li>drec (ctfs)
        <li>dre.cc (discord)
</ul>
</p>

<p>
I'm a 3rd year Neuroscience student at the University of Toronto.
I'm interested in brains, human behaviour, computers, and everything in between.
</p>

<p>
I play for <a href="https://ctftime.org/team/139261">UofTCTF</a>,
University of Toronto's Capture the Flag team, which is also its most active
cybersecurity club.
</p>

<h2> Achievements </h2>

<p><em>picoCTF 2022</em>: 3rd in Global</p>
<p><em>Cybersci 2022</em>: 4th in Canada, 3rd in Toronto region</p>
<p><em>picoCTF 2023</em>: 2nd in Undergraduate Students</p>
{{ end }}
